body {
    background: #ffffff none repeat scroll 0 0;
    color: #687188;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
}
.shop_container {
    position: relative;
}
.product_box {
    margin-bottom: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}
.product_img {
    position: relative;
    overflow: hidden;
}
a {
    color: #292b2c;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all .3s ease-in-out;
}
.product_img img {
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
img {
    max-width: 100%;
}
.product_action_box {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    right: 0;
    text-align: center;
    padding-top: 0;
    transition: all .5s ease-in-out;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.pr_action_btn {
    display: table;
    margin: 0 auto;
}
ul, li, ol {
    margin: 0;
    padding: 0;
}
.product_box .pr_action_btn li a {
    border-radius: 100%;
    width: 45px;
    height: 45px;
    line-height: 45px;
}
.pr_action_btn li a {
    background-color: #fff;
    font-size: 0;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
    width: 37px;
    height: 37px;
    padding: 0;
    display: block;
    text-align: center;
}
.list_none li {
    list-style: none;
}
.pr_action_btn li a i {
    vertical-align: middle;
    line-height: 37px;
    font-size: 18px;
}
.icons{
    font-family: 'Simple-Line-Icons';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.product_box .product_info {
    position: relative;
}
.product_info {
    padding: 15px;
}
.product_box .product_title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: capitalize;
}
h1, h2, h3, h4, h5, h6 {
    color: #292b2c;
    font-family: 'Roboto';
}
.product_price {
    margin-bottom: 5px;
}
.price {
    color: #FF324D;
    font-weight: 600;
}
.product_price del {
    font-size: 14px;
    margin-right: 5px;
    margin-left: 3px;
}
.rating_wrap .rating {
    overflow: hidden;
    position: relative;
    height: 20px;
    font-size: 12px;
    width: 70px;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    vertical-align: middle;
}
.product_rate {
    overflow: hidden;
    float: left;
    top: 0;
    left: 0;
    position: absolute;
    padding-top: 1.5em;
    color: #F6BC3E;
}
.pr_desc {
    display: none;
}
.product_box .add-to-cart {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -20px;
    background-color: #fff;
    padding: 10px 15px 15px 15px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
}
@media only screen and (max-width: 1199px)
{.add-to-cart .btn {
    padding: 10px 20px;
}}
.btn-radius {
    border-radius: 40px;
}
.btn-fill-out {
    background-color: transparent;
    border: 1px solid #FF324D;
    color: #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.btn {
    border-width: 1px;
    cursor: pointer;
    line-height: normal;
    padding: 12px 35px;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
}
.btn i {
    font-size: 16px;
    margin-right: 5px;
    vertical-align: middle;
    line-height: 1;
}
